*{
	font-family: verdana;
	text-align: center;}
header, footer, #wrapper{
	background-color: #BDC3C7;
}
body{
	background-color: black;
	text-align: right;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;}
header, footer{
	margin: 0px;}
header{
	padding-right: 1%;
	>p{
		text-align: right;
	}
}
footer{
	padding-bottom: 10px;}
a{
	text-decoration: none;}
.access{
	font-weight: bold;}
@mixin flexbox($direction, $justify, $align){
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;}
#wrapper{
	@include flexbox(column, center, center);
	margin: 0px;}
p{
	font-size: 0.8em;
	margin: 0px;
	padding-top: 12px;}
h1{
	width: 100%;
	margin-bottom: 0px;
	padding-bottom: 15px;
	font-size: 1.4em;}
input{
	background-color: white;}
form{
	@include flexbox(column, flex-start, stretch);
	width: 50%;
	> input{
	height: 40px;
	margin-bottom: 7px;
	box-shadow: inset 1px 1px 0px gray;
	padding: 2px;
		:nth-child(1), :nth-child(2){
			border-radius: 0 0 15px 0;
		}
	}
}
.pwwrapper{
	@include flexbox(column, flex-start, stretch);
	position: relative;
	overflow: hidden;
	background-color: white;
	height: 40px;
	margin-bottom: 7px;
	border-radius: 15px 0 0 0;
	box-shadow: inset 1px 1px 0px gray;
	> input{
	box-shadow: inset 1px 1px 0px gray;
	padding: 2px;
	margin: 0px;
	height: 40px;
	}}
.pwwrapper > input, form > input:nth-child(4){
	border-radius:15px 0 0 0;}
input[type="text"], input[type="email"], input[type="password"], input[type="submit"], input[type="reset"]{
	-webkit-appearance: none;
	appearance: none;
	outline: 0;
	border: 0;
	font-size: 1em;}
input[type="text"], input[type="email"]{
&:focus:valid{
	background-color: #87D37C;}
&:focus:invalid{
	background-color: #F1A9A0;}}
input[type="submit"],input[type="reset"]{
	width: 200px;
	height: 50px;
	color: white;
	font-weight: bold;
	&:hover{
		cursor: pointer;
	}}
#cancel{
	background-color: #8B0000;}
#accept{
	background-color: #008B8B;}
.about{
	color: #008B8B;
	font-weight: bold;}
#password{
	position: relative;
	transition: linear 0.3s;}
.fortaleza{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50%;
	height: 44px;
	:hover{
	cursor: text;}}